* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}
[href] {
  color: #ffffff;
  text-decoration: none;
}
/* Estilos del header */
.header {
  background: #f0a83e;
  height: 54px;
  position: relative;
}
.logo-header {
  position: absolute;
  left: 40px;
  top: 17px;
}
.categorias {
  position: absolute;
  right: 40px;
  top: 17px;
}
.contenedor {
  background-image: url("../img/bowl-background.png");
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.bienvenida {
  background: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  margin-right: 25px;
  padding: 12px 39px;
  border-radius: 5px;
}
.comederos {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3c2313;
  margin-right: 28px;
  margin-top: 12px;
}
.boton {
  background: #f0a83e;
  border-radius: 5px;
  border: none;
  margin-top: 12px;
  margin-right: 44px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 23px;
}
/* Estilos para titulo productos destacados*/
.contenedor1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 25px 0;
}
.productos {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #3c2313;
  margin-top: 14px;
  margin-bottom: 26px;
  text-align: center;
}
.opciones {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #666666;
}
/*Estilos contenedor 2*/
.contenedor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tarjetas {
  background-color: #fbfaf6;
  width: 239px;
  height: 283px;
  margin: 12px 10px;
}
.tarjetas img {
  width: 100%;
  height: 245px;
}
.tarjetas h3 {
  color: #3c2313;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}
.tarjetas p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #f0a83e;
  text-align: center;
}
/*Estiles contenedor contacto*/
.cont-contacto {
  display: flex;
  width: 298px;
  height: 200px;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 84px;
}
.cont-contacto h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #3c2313;
  margin-bottom: 16px;
  text-align: center;
}
.cont-contacto span {
  display: block;
  background-color: #3c2313;
  border-radius: 15px;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #ffffff;
  margin-bottom: 10px;
}
.boton-resetear {
  background: #8a8787;
  border-radius: 25px;
  width: 200px;
  height: 45px;
  border: none;
  color: #ffffff;
  margin: 3px;
}
.boton-enviar {
  background-color: #f0a83e;
  border-radius: 25px;
  width: 200px;
  height: 45px;
  border: none;
  color: #ffffff;
  margin: 3px;
}
.botones {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 45px;
}
/*Estilos barra de suscripción*/
.suscribe-bar {
  background-color: #f0a83e;
  height: 101px;
  position: relative;
}
.suscribe-bar img {
  position: absolute;
  left: 5px;
  top: 16px;
}
.suscribe-bar h3 {
  position: absolute;
  left: 60px;
  top: 14px;
  color: #ffffff;
}
.correo {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  left: 15px;
  width: 230px;
  top: 51px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11, 72px;
  color: #a0a0a0;
  position: absolute;
}
.boton-suscribe {
  position: absolute;
  background-color: #3c2313;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  padding: 9px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  border-radius: 15px;
  border: none;
  right: 29px;
  top: 54px;
}
/* Estilos contenedor final*/
.cont-final {
  background-color: #3c2313;
  display: flex;
  flex-direction: column;
  height: 318px;
  display: flex;
  align-items: center;
}
.contenedor-iconos {
  display: flex;
  margin: 0 auto;
}
.iconos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 68px;
}
.iconos img {
  margin: 10px 0;
}
.cont-localidad {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 25px;
  width: 170px;
}
.cont-localidad h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.cont-localidad p {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #8a8787;
}
.logo2 {
  width: 134px;
  margin-top: 19px;
}
footer {
  background-color: #222222;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
  height: 20px;
}
footer p {
  padding-top: 1px;
}

/*==========================================DESKTOP======================================================*/

@media only screen and (min-width: 768px) {
  .header {
    background: #f0a83e;
    height: 62px;
  }
  .logo-header {
    left: 40px;
    top: 19px;
  }
  .contenedor {
    background-image: url("../img/bowl-y-huesitos.png");
    height: 409px;
  }
  .contenedor2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .suscribe-bar {
    background-color: #f0a83e;
    height: 60px;
  }
  .suscribe-bar img {
    left: 23px;
    top: 20px;
  }
  .suscribe-bar h3 {
    left: 73px;
    top: 20px;
  }
  .correo {
    left: 540px;
    width: 271px;
    padding: 15px;
    top: 10px;
    font-size: 9px;
    line-height: 11px;
  }
  .boton-suscribe {
    font-size: 9px;
    line-height: 11px;
    color: #ffffff;
    width: 70px;
    padding: 12px;
    right: 47px;
    top: 13px;
  }
  .cont-final {
    height: 284px;
    position: relative;
  }
  .iconos {
    left: 70px;
    top: 20px;
    width: 66px;
    position: absolute;
  }
  .cont-localidad {
    width: 170px;
    left: 160px;
    position: absolute;
  }
  .cont-localidad h3 {
    font-size: 20px;
    line-height: 23px;
    margin-top: 40px;
  }
  .cont-localidad p {
    font-size: 10px;
    line-height: 12px;
  }
  .logo2 {
    right: 70px;
    top: 130px;
    position: absolute;

  }
  footer {
    font-size: 10px;
    line-height: 12px;
  }
  footer p {
    padding-top: 4px;
  }
}
